html, body {
  height: 100%;
  position: relative;
}
.navbar-header {
  display: flex;
}
.plus__btn {
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid #30b490;
  background-color: #fff;
  color: #30b490;
  box-shadow: none;
  margin-left: 100px;
  cursor: pointer;
}
.plus__btn--icon {
  line-height: 0;
}
.chat__area {
  height: 100%;
  position: relative;
}
.chat__area__header {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: #a6a6a6;
}
.chat__area__header--group__name {
  color: white;
}
.chat__area__header--group__member {
  color: white;
}
.chat__area__content {
  height: calc(100% - 100px - 80px);
  overflow: scroll;
  padding: 50px 50px 100px;
}
.chat__area__input__area {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #a6a6a6;
}
.chat__area__input__area .chat__form--input {
  height: 40px;
  width: 89%;
  margin-left: 20px;
  padding: 10px;
  margin-top: 20px;
  border: none;
}
.chat__area__input__area .chat__form--button {
  margin-top: 20px;
  margin-right: 20px;
}
/*——————–
 吹き出しを作る
 ——————–*//* 全体のスタイル */.kaiwa {
  margin-bottom: 25px;
}
/* 左画像 */.kaiwa-img-left {
  margin: 0;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: -70px;
}
/* 右画像 */.kaiwa-img-right {
  margin: 0;
  float: right;
  width: 60px;
  height: 60px;
  margin-left: -70px;
}
.kaiwa figure img {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}
/* 画像の下のテキスト */.kaiwa-img-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 15px;
}
/* 左からの吹き出しテキスト */.kaiwa-text-right {
  position: relative;
  margin-left: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #4e555b;
  margin-right: 12%;
  float: left;
}
/* 右からの吹き出しテキスト */.kaiwa-text-left {
  position: relative;
  margin-right: 80px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9cd6e7;
  margin-left: 12%;
  float: right;
}
p.kaiwa-text {
  margin: 0 0 20px;
}
p.kaiwa-text:last-child {
  margin-bottom: 0;
}
/* 左の三角形を作る */.kaiwa-text-right:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  left: -20px;
}
.kaiwa-text-right:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #4e555b;
  top: 15px;
  left: -19px;
}
/* 右の三角形を作る */.kaiwa-text-left:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  top: 15px;
  right: -20px;
}
.kaiwa-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #9cd6e7;
  top: 15px;
  right: -19px;
}
/* 回り込み解除 */.kaiwa:after, .kaiwa:before {
  clear: both;
  content: "";
  display: block;
}
.group__create__form {
  margin-left: 400px;
  width: 500px;
  text-align: center;
  margin-top: 300px;
  border: 1px solid;
  padding: 30px;
}
.group__create__form__content--input {
  width: 100%;
}
.group__create__form__content--checkbox {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1em;
}
.group__create__form__content--checkbox .user__info {
  height: 60px;
  width: 100%;
}
.group__create__form__content--checkbox .user__info .user__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.group__create__form__content--checkbox .user__info--input {
  margin-left: 5px;
}
.group__create__form__content--button {
  float: none !important;
}
.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-group-form h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.chat-group-form .chat-group-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-group-form .chat-group-form__errors h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}
.chat-group-form .chat-group-form__errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-group-form .chat-group-form__errors li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.chat-group-form .chat-group-form__field {
  margin-top: 30px;
}
.chat-group-form .chat-group-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-form .chat-group-form__field .chat-group-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-group-form .chat-group-form__field .chat-group-form__field--right {
  float: right;
  width: 70%;
}
.chat-group-form .chat-group-form__field .chat-group-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-group-form .chat-group-form__field .chat-group-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-group-form .chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.chat-group-form .chat-group-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-group-form .chat-group-user .chat-group-user__name {
  float: left;
}
.chat-group-form .chat-group-user .chat-group-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--add {
  color: #38aef0;
}
.chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--remove {
  color: #f05050;
}
.chat-group-form .chat-group-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.group__create__form__content--checkbox {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1em;
}
.user__info {
  height: 60px;
  width: 100%;
}
.user__info .user__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.group__create__form__content--checkbox .user__info--input {
  margin-left: 5px;
}
.group__create__form__content--button {
  float: none !important;
}
.new__message {
  position: absolute;
  bottom: 80px;
  width: 100%;
  background: #bdc3d6;
  opacity: 0.4;
  text-align: center;
}
.new__message__text {
  height: 30px;
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
